html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: #2D2D2C; }
.material-icons.md-light { color: #F2F2F2; }

/*
 * Properties
 */

#properties {
  width: 300px;
  height: 100%;
  background-color: #2D2D2C;
  overflow: scroll;
}

.prop {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.hidden-prop {
  display: none;
}

#properties label {
  color: #F2F2F2;
  margin-bottom: 4px;
}

#properties input[type=text] {
  background-color: #F2F2F2;
  height: 2em;
  margin-bottom: 8px;
}

#properties textarea {
  resize:vertical;
  background-color: #F2F2F2;
  margin-bottom: 8px;
}

#properties hr {
  margin: 8px 0 16px 0;
  flex: 1;
}

/*
 * Properties - Files
 */

.filepath-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filepath-input {
  flex: 1;
}

.prop-folder {
  margin: 0 8px;
}

/*
 * Properties - List
 */

.prop-list-container {
  background-color: #F2F2F2;
  margin-bottom: 8px;
  height: 150px;
  overflow: scroll;
}

ul.prop-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.prop-list li:nth-child(even) {
  background-color: #D2D2D2;
}

li.prop-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
}

li.prop-list-item p {
  flex: 1;
  color: #000;
  margin: 0;
  padding: 0;
}

.selected-floor {
  background-color: #ACA39A;
}

.prop-icon-list {
  justify-content: space-between;
}

.icon-list-item {
  padding: 8px;
  margin: 8px 0 8px 0;
}

.icon-list-item-sel {
  border: 1px white solid;
}

/*
 * Properties - Table
 */

#graph-stats {
  table-layout: fixed;
  width: 100%;
}

#graph-stats td,th {
  color: #F2F2F2;
  text-align: center;
  padding-bottom: 8px;
}

/*
 * Properties - Range
 */

input[type=range] {
  flex: 1;
  height: 2em;
  margin-bottom: 8px;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #F2F2F2;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input#node-r[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #000000 , #FF0000);
}

input#node-g[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #000000 , #00FF00);
}

input#node-b[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #000000 , #0000FF);
}


/*
 * Properties - Other
 */

.prop-horiz {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prop-horiz.spaced {
  justify-content: space-between;
  margin-top: 16px;
}

.prop-horiz input[type=text] {
  width: 80px;
}

.prop-node-val, .prop-edge-val {
  margin: 0 8px;
}

/*
 * Canvases
 */

.fullsize-canvas {
  position: absolute;
  left: 300px;
}

.bg-canvas {
  z-index: 0;
}

.mg-canvas {
  z-index: 1;
}

.fg-canvas {
  z-index: 2;
}